fastapi
uvicorn
pymongo
python-dotenv
python-multipart
requests
passlib
bcrypt==4.0.1
python-jose
email-validator
mammoth
resend
cloudinary
gspread
google-auth



passlib[bcrypt]
python-jose
requests
pymupdf
google-genai
pydantic
